<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" class="svg"
	 viewBox="0 0 19.2 4.2" style="enable-background:new 0 0 19.2 4.1;" xml:space="preserve">
<g class="svg">
	<circle class="circle" cx="2.1" cy="2.1" r="2.1"/>
	<circle class="circle" cx="9.6" cy="2.1" r="2.1"/>
	<circle class="circle" cx="17.1" cy="2.1" r="2.1"/>
</g>
</svg>
<style>
	.svg{
		display: flex;
		flex-flow: row;
	}
	.circle{
		display: flex;
	}
</style>
</body>
</html>