<!--Right Bar-->

{% load static %}        
<div class="right-side" :class="{ 'active': rightSide }">
  <div class="account">
      <button class="account-button">
          <svg stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1" viewBox="0 0 24 24">
              <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z" />
              <path d="M22 6l-10 7L2 6" />
          </svg>
      </button>
      <button class="account-button">
          <svg stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1" viewBox="0 0 24 24">
              <path d="M18 8A6 6 0 006 8c0 7-3 9-3 9h18s-3-2-3-9M13.73 21a2 2 0 01-3.46 0" />
          </svg>
      </button>
      <span class="account-user">
          {{ db.username }}
          <img src="https://images.genius.com/2326b69829d58232a2521f09333da1b3.1000x1000x1.jpg" alt="" class="account-profile" alt="">
          <span>▼</span>
      </span>
  </div>
  <div class="side-wrapper options">
            <div class="blip">
                <div class="sidebarr">
                    <a class="bling" href="{% url 'editAccount' %}">Edit Profile</a>
                    <a class="bling" href="{% url 'changePass' %}">Change Password</a>
                    <a class="bling" href="#about">Customize</a>
                    <a class="bling" href="{% url 'accountsec' %}">Security</a>
                    <a class="bling" href="{% url 'pref' %}">Preferences</a>
                    <a class="bling" href="{% url 'acc_activity' %}">Activity</a>
                    <a class="bling md-trigger md-setperspective" data-modal="modal-7" href="#feedback">Feedback</a>
                    <a class="bling" href="javascript:location.href=location.protocol + '//' + location.host + '/logout/'">Log Out</a><br>
                    <span id="closing">&copy; {{ yearr }} Tealives</span>
                </div>
            </div>
          </div>
        </div>

<style>
.blip{
    justify-content: left;
    display: flex;
    overflow: auto;
    line-height: 90%;
}
                       /* The side navigation menu */
    .sidebarr {
      width: 100%;
      display: flex;
      flex-flow: column;
  }
/* Sidebar links */
.sidebarr a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}
.sidebarr span{
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

#closing{
    font-size: 30px;
    font-family: Gabriola;
    color: white;

}

/* Active/current link */
.sidebarr a.active {
  background-color: #212529;
  color: white;
}

/* Links on mouse-over */
.sidebarr a:hover:not(.active) {
  border-bottom: 2px solid #212529;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 900px) {
  .sidebarr {
    display: none;
}
/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {

    .bling::before {
      transform: scaleX(0);
      transform-origin: bottom right;
  }

  .bling:hover::before {
      transform: scaleX(1);
      transform-origin: bottom left;
  }

  .bling::before {
      content: " ";
      display: block;
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      inset: 0 0 0 0;
      background: #989898;;
      z-index: -1;
      transition: transform .3s ease;
  }
  .bling {
      position: relative;
  }
  .typing-demo {
      width: 9ch;
      animation: typing 2s steps(22), blink .5s step-end infinite alternate;
      white-space: nowrap;
      overflow: hidden;
      border-right: 2px solid;
      font-family: monospace;
      font-size: 2em;
  }

  @keyframes typing {
      from {
        width: 0
    }
}

@keyframes blink {
  50% {
    border-color: transparent
}
}

</style>